## DESAFIO N°1

#### **Integrantes:**
- Rodriguez Juan Martin
- Carsillo Juan Martin
#### **Datasets Elegidos**
1. Airbnb Open Data
2. Breast cancer
3. Canciones populares de Rock en Spotify

#### Importo librerias

In [1]:
import pandas as pd
import numpy as np

### **Dataset N°1:**

**Descripcion del dataset**

Desde 2008, los huéspedes y anfitriones han utilizado Airbnb para viajar de una manera más única y personalizada. Como parte de la iniciativa Airbnb Inside, este conjunto de datos describe la actividad de listado de casas de familia en la ciudad de Nueva York.

La siguiente actividad de Airbnb se incluye en este conjunto de datos de Nueva York: Anuncios, incluidas las descripciones completas y la puntuación media de las opiniones Reseñas, incluido el identificador único de cada revisor y los comentarios detallados,Calendario, incluido el identificador del anuncio y el precio y la disponibilidad para ese día.

In [2]:
df = pd.read_csv("./Data Sets/Airbnb_Open_Data.csv")

df.head()

C:\Users\JUAN\AppData\Local\Temp\ipykernel_14676\428709797.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./Data Sets/Airbnb_Open_Data.csv")

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [18]:
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [19]:
df.info

<bound method DataFrame.info of              id                                              NAME  \
0       1001254                Clean & quiet apt home by the park
1       1002102                             Skylit Midtown Castle
2       1002403               THE VILLAGE OF HARLEM....NEW YORK !
3       1002755                                               NaN
4       1003689  Entire Apt: Spacious Studio/Loft by central park
...         ...                                               ...
102594  6092437                        Spare room in Williamsburg
102595  6092990                     Best Location near Columbia U
102596  6093542                    Comfy, bright room in Brooklyn
102597  6094094                  Big Studio-One Stop from Midtown
102598  6094647                              585 sf Luxury Studio

            host id host_identity_verified    host name neighbourhood group  \
0       80014485718            unconfirmed     Madaline            Brooklyn
1       52335172823               verified        Jenna           Manhattan
2       78829239556                    NaN        Elise           Manhattan
3       85098326012            unconfirmed        Garry            Brooklyn
4       92037596077               verified       Lyndon           Manhattan
...             ...                    ...          ...                 ...
102594  12312296767               verified         Krik            Brooklyn
102595  77864383453            unconfirmed        Mifan           Manhattan
102596  69050334417            unconfirmed        Megan            Brooklyn
102597  11160591270            unconfirmed  Christopher              Queens
102598  68170633372            unconfirmed      Rebecca           Manhattan

              neighbourhood       lat      long        country  ...  \
0                Kensington  40.64749 -73.97237  United States  ...
1                   Midtown  40.75362 -73.98377  United States  ...
2                    Harlem  40.80902 -73.94190  United States  ...
3              Clinton Hill  40.68514 -73.95976  United States  ...
4               East Harlem  40.79851 -73.94399  United States  ...
...                     ...       ...       ...            ...  ...
102594         Williamsburg  40.70862 -73.94651  United States  ...
102595  Morningside Heights  40.80460 -73.96545  United States  ...
102596           Park Slope  40.67505 -73.98045  United States  ...
102597     Long Island City  40.74989 -73.93777  United States  ...
102598      Upper West Side  40.76807 -73.98342  United States  ...

       service fee minimum nights number of reviews last review  \
0            $193            10.0               9.0  10/19/2021
1             $28            30.0              45.0   5/21/2022
2            $124             3.0               0.0         NaN
3             $74            30.0             270.0    7/5/2019
4             $41            10.0               9.0  11/19/2018
...            ...            ...               ...         ...
102594       $169             1.0               0.0         NaN
102595       $167             1.0               1.0    7/6/2015
102596       $198             3.0               0.0         NaN
102597       $109             2.0               5.0  10/11/2015
102598       $206             1.0               0.0         NaN

        reviews per month review rate number calculated host listings count  \
0                    0.21                4.0                            6.0
1                    0.38                4.0                            2.0
2                     NaN                5.0                            1.0
3                    4.64                4.0                            1.0
4                    0.10                3.0                            1.0
...                   ...                ...                            ...
102594                NaN                3.0                            1.0
102595               0.02                2.0                            2.0
102596                NaN                5.0                            1.0
102597               0.10                3.0                            1.0
102598                NaN                3.0                            1.0

        availability 365                                        house_rules  \
0                  286.0  Clean up and treat the home the way you'd like...
1                  228.0  Pet friendly but please confirm with me if the...
2                  352.0  I encourage you to use my kitchen, cooking and...
3                  322.0                                                NaN
4                  289.0  Please no smoking in the house, porch or on th...
...                  ...                                                ...
102594             227.0  No Smoking No Parties or Events of any kind Pl...
102595             395.0  House rules: Guests agree to the following ter...
102596             342.0                                                NaN
102597             386.0                                                NaN
102598              69.0                                                NaN

       license
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
102594     NaN
102595     NaN
102596     NaN
102597     NaN
102598     NaN

[102599 rows x 26 columns]>

**Variables mas importantes**

- **NAME**: Nombre listado
- **Neighbourhood**: Vecindario de la propiedad
- **Country**: Pais
- **cancellation_policy**: Poliza de cancelacion
- **room type**: Tipo de habitacion (Habitacion privada o casa entera)
- **price**: Precio de lista
- **service fee**: Comision de servicio
- **minimum nights**: Cantidad minima de noches para reservar
- **number of reviews**: Cantidad de reviews
- **last review**: ultima review
- **reviews per month**: Review por mes
- **house_rules**: Reglas de la casa

### **Dataset N°2:**

**Descripcion del dataset**

Este conjunto de datos de pacientes con cáncer de mama se obtuvo de la actualización de noviembre de 2017 del Programa SEER del NCI, que proporciona información sobre estadísticas de cáncer basadas en la población. El conjunto de datos involucró a pacientes femeninas con cáncer de mama de conducto infiltrante y carcinoma lobulillar diagnosticados en 2006-2010. Se excluyeron los pacientes con tamaño tumoral desconocido, los LN regionales examinados, los LN regionales positivos y los pacientes cuyos meses de supervivencia fueron inferiores a 1 mes; por lo tanto, finalmente se incluyeron 4024 pacientes.

In [15]:
df2 = pd.read_csv("./Data Sets/Breast_Cancer.csv")

df2.head()

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4,Positive,Positive,24,1,60,Alive
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35,Positive,Positive,14,5,62,Alive
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,63,Positive,Positive,14,7,75,Alive
3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,2,1,84,Alive
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50,Alive

In [16]:
df2.columns

Index(['Age', 'Race', 'Marital Status', 'T Stage ', 'N Stage', '6th Stage',
       'differentiate', 'Grade', 'A Stage', 'Tumor Size', 'Estrogen Status',
       'Progesterone Status', 'Regional Node Examined',
       'Reginol Node Positive', 'Survival Months', 'Status'],
      dtype='object')

In [17]:
df2.info

<bound method DataFrame.info of       Age   Race Marital Status T Stage  N Stage 6th Stage  \
0      68  White        Married       T1      N1       IIA
1      50  White        Married       T2      N2      IIIA
2      58  White       Divorced       T3      N3      IIIC
3      58  White        Married       T1      N1       IIA
4      47  White        Married       T2      N1       IIB
...   ...    ...            ...      ...     ...       ...
4019   62  Other        Married       T1      N1       IIA
4020   56  White       Divorced       T2      N2      IIIA
4021   68  White        Married       T2      N1       IIB
4022   58  Black       Divorced       T2      N1       IIB
4023   46  White        Married       T2      N1       IIB

                  differentiate Grade   A Stage  Tumor Size Estrogen Status  \
0         Poorly differentiated     3  Regional           4        Positive
1     Moderately differentiated     2  Regional          35        Positive
2     Moderately differentiated     2  Regional          63        Positive
3         Poorly differentiated     3  Regional          18        Positive
4         Poorly differentiated     3  Regional          41        Positive
...                         ...   ...       ...         ...             ...
4019  Moderately differentiated     2  Regional           9        Positive
4020  Moderately differentiated     2  Regional          46        Positive
4021  Moderately differentiated     2  Regional          22        Positive
4022  Moderately differentiated     2  Regional          44        Positive
4023  Moderately differentiated     2  Regional          30        Positive

     Progesterone Status  Regional Node Examined  Reginol Node Positive  \
0               Positive                      24                      1
1               Positive                      14                      5
2               Positive                      14                      7
3               Positive                       2                      1
4               Positive                       3                      1
...                  ...                     ...                    ...
4019            Positive                       1                      1
4020            Positive                      14                      8
4021            Negative                      11                      3
4022            Positive                      11                      1
4023            Positive                       7                      2

      Survival Months Status
0                  60  Alive
1                  62  Alive
2                  75  Alive
3                  84  Alive
4                  50  Alive
...               ...    ...
4019               49  Alive
4020               69  Alive
4021               69  Alive
4022               72  Alive
4023              100  Alive

[4024 rows x 16 columns]>

**Variables mas importantes**

- **AGE**: Edad de la paciente
- **Tumor Size**: Tamaño del tumor
- **Survival Months**: Meses de supervivencia
- **Status**: Estado de la paciente

### **Dataset N°3:**

**Descripcion del dataset**

Este dataset posee información de 5484 canciones de rock, incluyendo distintas características evaluadas por Spotify. Abarca desde los años '50 hasta la actualidad.
Con estos datos podremos observar las características de las canciones, dependiendo el año de lanzamiento, y la relación con su popularidad en la plataforma.

In [5]:
df3 = pd.read_csv("./Data Sets/History_Of_Rock_Spotify.csv")
df3.head()

,index,name,artist,release_date,length,popularity,danceability,acousticness,danceability.1,energy,instrumentalness,key,liveness,loudness,speechiness,tempo,time_signature,valence
0,0,Smells Like Teen Spirit,Nirvana,1991,5.032000,74,0.502,0.000025,0.502,0.912,0.000173,1,0.1060,-4.556,0.0564,116.761,4,0.720
1,1,Stairway to Heaven - Remaster,Led Zeppelin,1971,8.047167,78,0.338,0.580000,0.338,0.340,0.003200,9,0.1160,-12.049,0.0339,82.433,4,0.197
2,2,Bohemian Rhapsody - Remastered 2011,Queen,1975,5.905333,74,0.392,0.288000,0.392,0.402,0.000000,0,0.2430,-9.961,0.0536,143.883,4,0.228
3,3,Imagine - Remastered 2010,John Lennon,1971,3.131100,77,0.547,0.907000,0.547,0.257,0.183000,0,0.0935,-12.358,0.0252,75.752,4,0.169
4,4,(I Can't Get No) Satisfaction - Mono Version,The Rolling Stones,1965,3.713550,77,0.723,0.038300,0.723,0.863,0.031700,2,0.1280,-7.890,0.0338,136.302,4,0.931

In [11]:
df3.columns

Index(['index', 'name', 'artist', 'release_date', 'length', 'popularity',
       'danceability', 'acousticness', 'danceability.1', 'energy',
       'instrumentalness', 'key', 'liveness', 'loudness', 'speechiness',
       'tempo', 'time_signature', 'valence'],
      dtype='object')

In [12]:
df3.info

<bound method DataFrame.info of       index                                          name  \
0         0                       Smells Like Teen Spirit
1         1                 Stairway to Heaven - Remaster
2         2           Bohemian Rhapsody - Remastered 2011
3         3                     Imagine - Remastered 2010
4         4  (I Can't Get No) Satisfaction - Mono Version
...     ...                                           ...
5479   5479                              I'm In Your Mind
5480   5480                                    Cellophane
5481   5481                                     Hot Water
5482   5482           Vitamin C - 2004 Remastered Version
5483   5483                                             ~

                                artist  release_date    length  popularity  \
0                              Nirvana          1991  5.032000          74
1                         Led Zeppelin          1971  8.047167          78
2                                Queen          1975  5.905333          74
3                          John Lennon          1971  3.131100          77
4                   The Rolling Stones          1965  3.713550          77
...                                ...           ...       ...         ...
5479  King Gizzard & The Lizard Wizard          2014  3.559833          47
5480  King Gizzard & The Lizard Wizard          2014  3.179750          44
5481  King Gizzard & The Lizard Wizard          2014  3.396450          40
5482                               CAN          1972  3.567767          52
5483                      Touché Amoré          2011  1.485100           0

      danceability  acousticness  danceability.1  energy  instrumentalness  \
0            0.502      0.000025           0.502   0.912          0.000173
1            0.338      0.580000           0.338   0.340          0.003200
2            0.392      0.288000           0.392   0.402          0.000000
3            0.547      0.907000           0.547   0.257          0.183000
4            0.723      0.038300           0.723   0.863          0.031700
...            ...           ...             ...     ...               ...
5479         0.296      0.005910           0.296   0.776          0.801000
5480         0.432      0.002130           0.432   0.887          0.916000
5481         0.627      0.860000           0.627   0.609          0.890000
5482         0.643      0.006690           0.643   0.644          0.673000
5483         0.222      0.000258           0.222   0.959          0.000275

      key  liveness  loudness  speechiness    tempo  time_signature  valence
0       1    0.1060    -4.556       0.0564  116.761               4    0.720
1       9    0.1160   -12.049       0.0339   82.433               4    0.197
2       0    0.2430    -9.961       0.0536  143.883               4    0.228
3       0    0.0935   -12.358       0.0252   75.752               4    0.169
4       2    0.1280    -7.890       0.0338  136.302               4    0.931
...   ...       ...       ...          ...      ...             ...      ...
5479    6    0.5970    -5.630       0.0597   93.481               4    0.406
5480    7    0.1200    -6.175       0.1230   92.965               4    0.357
5481    9    0.1160    -9.387       0.0332   86.861               4    0.734
5482    4    0.1620   -12.615       0.0462  117.225               4    0.853
5483    6    0.1540    -5.134       0.2080  161.693               4    0.128

[5484 rows x 18 columns]>

**Variables más importantes**

- **name**: Nombre de la canción.
- **artist**: Nombre del artista.
- **release_date**: Año de lanzamiento de la canción.
- **popularity**: Popularidad de la canción, en Spotify.